body{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

/*Header Start*/

header{
  padding: 25px 0;
  border-bottom: 3px solid #eef0f3;
}

.container{
  width: 90%;
/*  border: 1px solid;*/
  overflow: hidden;
  margin: 0 auto;
}

.logo{
  width: 10%;
/*  border: 1px solid red;*/
  float: left;
}

.logo img{
  width: 100%;
}

.menu{
  width: 50%;
/*  border: 1px solid red;*/
  float: right;
  margin: 10px 0;
}

.menu ul{
  float: right;
  margin: 0;
  padding: 0 0;
}

.menu ul li{
  float: left;
  list-style: none;
  margin: 0 30px;
}

.menu ul li:last-child{
margin-right: 0;
}

.menu ul li a{
  font-size: 15px;
  font-weight: 360;
  color: #0f2656;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.menu ul li a:hover{
  border-bottom: 1px solid #0c66ff;
}
/*Header End*/


/*Banner Start*/

.banner{
  padding: 65px 0;
}

.container2{
  width: 56%;
/*  border: 1px solid red;*/
  margin: 0 auto;
}

.b_content{
  text-align: center;
}

.b_content h1{
  font-size: 50px;
  font-weight: 700;
  color: #0f2656;
  margin: 0;

}

.b_content h2{
  font-size: 50px;
  font-weight: 700;
  color: #0c66ff;
  margin-top: 17px;
  margin-bottom: 0;

}

.b_content p{
  font-size: 15px;
  font-weight: 400;
  color: #0f2656;
  line-height: 28px;
  margin: 25px 0 20px 0;
}

.b_img{
  width: 70%;
  margin: 0 auto;
}

.b_img img{
  width: 100%;
}

/*Banner End*/


/*Success Start*/

.success{
  padding: 65px 0 65px 0;
}

.s_content{
  overflow: hidden;
}

.s_left{
  width: 46%;
  float: left;
  text-align: right;
/*  border: 1px solid red;*/
}

.s_left h2{
  font-size: 40px;
  font-weight: 700;
  color: #f15767;
  margin: 0;
}

.s_left p{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #0f2656;
  margin: 20px 0 21px 0;
  
}

.s_right{
  width: 50%;
  float: right;
/*  border: 1px solid red;*/
}

.s_right h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  color: #0f2656;
  margin: 0;
}

/*Success End*/

/*Feature Start*/

.feature{
  padding: 65px 0;
}

.f_content{
  overflow: hidden;
}

.single{
  width: 25%;
  /* border: 1px solid red; */
  padding: 5.1% 3.2%;
  float: left;
  margin-right: 2.8%;
}

.single:last-child{
margin-right: 0;
}

.bg1{
  background-color: #fdebed;
}

.bg2{
  background-color: #ebf9f4;
}

.bg3{
  background-color: #fff7e8;
  margin-right: 0;
}


.f_img{}

.f_img img{
  width: 100%;
}

.single h2{
  font-size: 20px;
  font-weight: 700;
  color: #0f2656;
  margin: 23px 0 20px 0;
}

.single p{
  width: 95%;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #0f2656;
  margin: 0;
  
}

/*Feature End*/


/*Footer Start*/

footer{

  background-color: #0c66ff;
}

.footer_content{
  text-align: center;
  padding: 2.5% 0;
}

.footer_content p i{}

.footer_content p{
  font-size: 12px;
  font-weight: 350;
  color: white;
  display: inline;
}

.footer_content p b{
  letter-spacing: 3px;
}

/*Footer End*/
